<!DOCTYPE html>
<html>
 
  <head>
 
    <!-- En-tête du document  -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
    <!-- Balise meta  -->
    <meta name="title" content="Titre de la page" />
    <meta name="description" content="description de la page" />
    <meta name="keywords" content="mots-clé1, mots-clé2, ..." />
   
    <!-- Indexer et suivre -->
    <meta name="robots" content="index,follow" />
   
    <!-- Incorporez du CSS dans la page  -->
    <style type="text/css" media="screen">
      p { color:red; }
    </style>
   
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>
   
    
  </head>
 
 
  <body>
 
    <!-- CORPS DE LA PAGE  -->
    <h3>Bienvenue ici: recherche sur Twitter</h3>
    
    <div id="boxsearch" class="class-search">
        <input type="text" id="search_text" name="search_text" value="" placeholder="Libellé de la recherche" autocomplete="false" size="100" />
        <input type="button" id="btnsearch" name="btnsearch" value="Rechercher" />
    </div>

    <div id="boxloading" style="display:none;">Recherche en cours...</div>
    <div id="boxresult" class="class-result" style="display:none;">
        <br/><h3>Résultats</h3>
        <table id="tbl_result" border='1'>
            <tr>
                <td></td>
                <td>id str</td>
                <td>username</td>
                <td>text</td>
                <td>location</td>
                <td>created at</td>
                <td>nb retweet</td>
            </tr>
            <tbody class="tbody_result"></tbody>
        </table>    
    </div>
 
  </body>

</html>